$Font_family: Georgia, 'Times New Roman', Times, serif;
//$Home_background_image: url("./images/backgroundimage.png");
$Button_color:  #4e8f99;
$Button_bg_hover: rgb(4, 48, 48);
$Heading_color: rgb(3, 51, 63);
